<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38507709207-1mpdua8lg16643aol5j5qljllch16i3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38507709207-1mpdua8lg16643aol5j5qljllch16i3h</string>
	<key>API_KEY</key>
	<string>AIzaSyD6D_d50Fsnv_xg0Jd-kdC1nK6umEP3vPc</string>
	<key>GCM_SENDER_ID</key>
	<string>38507709207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dlb.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-5a8a5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-5a8a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38507709207:ios:936b4132ca50059a</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-5a8a5.firebaseio.com</string>
</dict>
</plist>